/* common style  */

/* font link  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    width: auto;
}

.btn-primary {

    font-weight: 600;
    font-size: 20px;
    background-color: #FF900E;
    border-radius: 8px;
    color: #FFFF;
    border: none;
    padding: 20px 25px;
}


/* header style  */
.header-container {
    width: 100%;
    height: 1200px;
    background-color: rgba(255, 144, 14, 0.1);
}

.header-section {
    padding: 50px 250px 50px 250px;
}

.nav-container {
    /* padding-top: 50px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-name {
    font-weight: 700;
    font-size: 45px;
}

.nav-items {
    display: flex;
    /* justify-content: space-evenly; */
}

.nav-item a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
    margin-left: 25px;
}

/* header title style  */
.header-title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title-container {
    text-align: center;
    width: 862px;
    /* border: 2px solid black; */
    margin-top: 110px;
    margin-bottom: 30px;
}

.header-title {
    font-weight: 700;
    font-size: 64px;
}

.header-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.banner-img {
    width: 100%;
    margin-top: 50px;
}


/* responsiv style  */
@media only screen and (max-width:576px) {

    /* header section  */
    .nav-container,
    .nav-items {
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }

    .header-title-container,
    .header-section {
        width: 100%;
        padding: 0;
    }

    .header-title,
    .nav-name {
        font-size: 10vw;
    }

    .banner-img {
        width: 100%;
    }
}